/* Write your global styles here, in PostCSS syntax */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --PrimaryBackground: #FFFFFF;
  --SecondaryBackground: #F0F0F0;
  --SurfaceBackground: #E8E8E8;

  --PrimaryText: #1A1A1A;
  --SecondaryText: #4A4A4A;
  --HintText: #707070;

  --AccentPrimary: #5380FF;
  --AccentSecondary: #40ABB6;
  --AccentError: #ff5757;
  --AccentWarning: #FB8C00;
  --AccentInfo: #71bdff;
  --AccentSuccess: #00ee7b;
  --DividerLine: #B0B0B0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --PrimaryBackground: #1C1C1C;
    --SecondaryBackground: #121212;
    --SurfaceBackground: #2A2A2A;

    --PrimaryText: #ECECEC;
    --SecondaryText: #BFBFBF;
    --HintText: #A5A5A5;

    --AccentPrimary: #0B52B2;
    --AccentSecondary: #055D76;
    --AccentError: #cc0300;
    --AccentWarning: #cc8000;
    --AccentInfo: #168eff;
    --AccentSuccess: #0a9158;
    --DividerLine: #5E5E5E;
  }
}

html,body{
  background-color: var(--PrimaryBackground);
  color: var(--PrimaryText);
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  word-spacing: 0.1em;
}